body {
    background-color: black;
 
 }
 
 button {
     background-color:blue;
     color: white;
     border-radius: 10%;
     position: relative;
     left: 45%;
     top: -50px;
 }

 button:hover {
    transform: scale(1.15);
    transition: 0.3s;
 }