body{
    background-color: black;
}

button{
    width: 150px;
    height: 150px;
    margin: 2px;
}

.buttona{
    display: flex;
    justify-content: center;
}

.buttonb{
    display: flex;
    justify-content: center;
}

.buttonc{
    display: flex;
    justify-content: center;
}

.play{
    display: flex;
    justify-content: center;
}

.button1{
    background-color: #008;
}

.button2{
    background-color: #008;
}

.button3{
    background-color: #008;
}

.button4{
    background-color: #00f;
}

.button5{
    background-color: #00f;
}

.button6{
    background-color: #00f;
}

.button7{
    background-color: #f0f;
}

.button8{
    background-color: #89cff0;
}

.button9{
    background-color: #89cff0;
}