body{
    background-color: black;
    text-align: center;
}

button{
    width: 150px;
    height: 150px;
    margin: 2px;
}

.buttona{
    display: flex;
    justify-content: center;
}

.buttonb{
    display: flex;
    justify-content: center;
}

.buttonc{
    display: flex;
    justify-content: center;
}

.iconplay{
    display: flex;
    justify-content: center;
}

.button1{
    background-color: rgb(6, 148, 173);
}

.button2{
    background-color: rgb(6, 148, 173);
}

.button3{
    background-color: rgb(6, 148, 173);
}

.button4{
    background-color: #0f0;
}

.button5{
    background-color: #0f0;
}

.button6{
    background-color: #0f0;
}

.button7{
    background-color: rgb(255, 0, 93);
}

.button8{
    background-color: #6b3b84;
}

.button9{
    background-color: #6b3b84;
}

#stop{
    color: white;
    position: relative;
}

#play{
    color:white;
    position: relative;
}